<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/details.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
        <title> <%= venue.name %> </title>
    </head>
<body>
    <div class="h1ShowPage">
        <h1> <%= venue.name %> </h1>
    </div>

    <div class="details">
        name: 
        <%= venue.name %>
        <br>
        address: <%=venue.address %>
        <br>
        review: <%=venue.review %>
        
    </div>

    <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="<%= venue.image[0]%>"></a>
            <a class="carousel-item" href="#two!"><img src="<%= venue.image[1]%>"></a>
            <a class="carousel-item" href="#three!"><img src="<%= venue.image[2]%>"></a>
            <a class="carousel-item" href="#four!"><img src="<%= venue.image[3]%>"></a>
    </div>
              
    <div class="buttons">
        <a href ="/">
            <button class="btn waves-effect waves-light" class="buttons" type="submit" name="action">Back
                <i class="material-icons right"></i>
            </button>
        </a>


        <form action="/venues/<%= venue.id; %>?_method=DELETE" method="POST">
            <a href ="/"><button class="btn waves-effect waves-light" class=buttons value="Delete" type="submit" name="action">Delete
                    <i class="material-icons right"></i>
            </button></a>
        </form>

        <a href="/venues/<%=venue.id; %>/edit"><button class="btn waves-effect waves-light" class="buttons" type="submit" name="action">Edit
            <i class="material-icons right"></i>
        </button></a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.carousel');
            let instances = M.Carousel.init(elems, {fullWidth: false, indicators: false, duration: 100});
        });

        instance.next();
    </script>

</body>
</html>