<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/myStyle.css">
    <title>Venue in Detail</title>
</head>
<body>
    <h1> <%= venue.name %> </h1>
    <div class="venueImage">

    </div>

    <div class="details">
        name: <%= venue.name %>
        <br>
        address: <%=venue.address %>
        <br>
        review: <%=venue.review %>
        <img src="<%=venue.image[0] %>" alt="Venue Image"> 
    </div>
    <a href ="/"><button>Back</button></a>

    <form action="/details/<%= venue.id; %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/>
    </form>
    <a href="/details/<%=venue.id; %>/edit"><button>Edit</button></a>
</body>
</html>