<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <title>Edit Venue</title>
</head>
<body>
    <h1>Edit the details to a Venue</h1>
    <form action="/details/<%=venue.id%>?_method=PUT" method="POST">
        <div class="six columns">
            Name: <input name="name" type="text" value="<%=venue.name%>"/><br/>
            Address: <input name="address" type="text" value="<%=venue.address%>"/><br/>
            Image: <input name="image" type="text" value="<%=venue.image%>"/><br/>
            
            What'd you think of it? Be honest:
            <br>
                <textarea name="review" value="<%=venue.review%>"></textarea>
            <br>
            <input type="submit" name="Add Venue" value="Sumbit Changes"/>
        </div>
    </form>

    <a href ="/"><button>Back</button></a>
</html> 

